.coin-withdrawal {
  width: 100%;
  height: 100vh;
  background-color: #e7e7e7;

  &__content {
    width: 100%;
    &__head {
      width: 100%;
      height: 224px;
      padding: 46px 40px 50px;
      background-color: #6a4ea6;
      color: #fff;
      font-weight: 700;
      font-size: 20px;
      font-size: 15px;
      &__title {
        max-width: 360px;
        margin: 0 auto;
        text-align: center;
        position: relative;
        margin-bottom: 38px;
        font-size: 20px;
      }
      &__close {
        width: 15px;
        height: 15px;
        position: absolute;
        top: -20px;
        right: -10px;
      }
      &__point {
        font-size: 17px;
      }
      &__point,
      &__trans {
        max-width: 360px;
        margin: 0 auto;
        margin-bottom: 21px;
      }
    }

    &__body {
      max-width: 360px;
      margin: 0 auto;
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      &__infobtn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        & > span {
          color: #6a4ea6;
          font-weight: 700;
          // color: #fff;
        }
      }
      &__btn {
        width: 94px;
        height: 42px;
        border-radius: 6px;
        background-color: #9282d9;
        color: #fff;
        font-size: 13px;
        padding: 12px 21px;
        border: none;
        align-self: flex-end;
        font-weight: 700;
        &:active {
          background-color: #6a4ea6;
        }
      }

      &__in {
        margin-bottom: 38px;
        &__title {
          font-size: 13px;
          color: #333;
          font-weight: 700;
          margin-bottom: 10px;
        }
        &__input {
          display: block;
          width: 100%;
          height: 49px;
          border-radius: 6px;
          border: none;
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
          padding: 16px 0 16px 20px;
          font-size: 16px;
        }
      }

      &__out {
        &__title {
          font-size: 13px;
          color: #333;
          font-weight: 700;
          margin-bottom: 10px;
        }
        &__input,
        &__expect {
          display: block;
          width: 100%;
          height: 49px;
          border-radius: 6px;
          border: none;
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
          padding: 16px 0 16px 20px;
          background-color: #fff;
          margin-bottom: 10px;
          line-height: normal;
          font-size: 16px;
        }
      }
    }
  }
}
