.point-modal-cover {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.point-modal {
  width: 710px;
  height: 643px;
  padding: 42px 45px;
  position: relative;
  background-color: #fff;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translateX(50%) translateY(-45%);
  &__title {
    color: #333;
    font-size: 17px;
    font-weight: 700;
  }
  &__close {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 40px;
    right: 40px;
  }
  &__content {
    position: relative;
    margin-top: 20px;
    height: 550px;
    &__total {
      font-size: 15px;
      font-weight: 700;
      color: #333;
      text-align: right;
      margin-bottom: 15px;
    }

    & > .pagination {
      position: absolute;
      bottom: 0px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      justify-content: center;
      & > li {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        & a {
          font-size: 15px;
          color: #6a4ea6;
          font-weight: 700;
        }
      }
      & > .active {
        width: 30px;
        height: 30px;
        background-color: #6a4ea6;
        & a {
          color: #fff;
          font-size: 15px;
          font-weight: 900;
        }
      }
    }
  }
}

.point-modal-table {
  border-collapse: collapse;
  width: 100%;
  &__thead {
    & > tr {
      background-color: #9e82d9;
      border: 1px solid #9e82d9;
      height: 48px;
      text-align: center;
      font-size: 15px;
      color: #fff;
      font-weight: 700;
    }
  }
  &__tbody {
    & > tr {
      border: 1px solid #9e82d9;
      height: 48px;
      text-align: center;
      font-size: 15px;
      color: #333;
      box-sizing: border-box;
    }
  }
}
